/* TeamCard.css */

.text-center {
    text-align: center;
  }
  
  .container {
    --container: 1160px;
    max-width: var(--container);
    margin: auto;
  }
  
  .section-title {
    margin-top: 50px;
  }
  
  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .thumbnail {
    position: relative;
  }
  
  .team-img {
    width: 100%; /* Adjust the width as needed */
    border-radius: 50%;
  }
  
  .caption {
    text-align: center;
  }
  
  .social-links {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .social-links a {
    color: #005eeb;
    font-size: 20px; /* Adjust the font size as needed */
    margin: 0 5px;
  }
  
  .social-links a:hover {
    color: #ffb200;
  }
  /* TeamCard.css */

/* ... (previous styles) */

/* Add the following animation styles */
.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  